.Currency {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;

  transform: translateX(0);
  will-change: transform;
  transition: transform .5s;
  transition-timing-function: ease-in-out;

  &__base:first-child {
    padding: 1em 0 0 3em;
    text-align: left;
    flex: 1 0 30%;
  }

  &__base {
    text-align: right;
    padding: 1em 3em 0 0;
    flex: 1 0 50%;
  }

  &__code,
  &__value {
    font-size: 3.5em;
  }
  &__total {
    margin-top: 1em;
    opacity: 0.5;
  }
  &__value {
    background: none;
    border: none;
    color: inherit;
    font-family: inherit;
    margin: 0;
    text-align: inherit;
    width: 100%;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      outline: none;
    }
    &[readOnly]{
      cursor: default;
    }
  }
}
